.DS_Store
TD3_microservice/data/WMT_Grocery_202209.csv
csv2rdf
TD3_microservice/environment/
TD3_microservice/micro-service/logs/

projet_final/micro-service/logs/
projet_final/micro-service/html/
projet_final/app/backend/__pycache__
projet_final/csvw/WMT_Grocery_202209.csv

# Angular
.vscode/*

projet_final/app/recipes-frontend/dist
projet_final/app/recipes-frontend/tmp
projet_final/app/recipes-frontend/out-tsc
projet_final/app/recipes-frontend/bazel-out

projet_final/app/recipes-frontend/node_modules
projet_final/app/recipes-frontend/npm-debug.log
projet_final/app/recipes-frontend/yarn-error.log

projet_final/app/recipes-frontend/.idea/
projet_final/app/recipes-frontend/.project
projet_final/app/recipes-frontend/.classpath
projet_final/app/recipes-frontend/.c9/
projet_final/app/recipes-frontend/*.launch
projet_final/app/recipes-frontend/.settings/
projet_final/app/recipes-frontend/*.sublime-workspace

projet_final/app/recipes-frontend/.vscode/*
projet_final/app/recipes-frontend/.vscode/settings.json
projet_final/app/recipes-frontend/.vscode/tasks.json
projet_final/app/recipes-frontend/.vscode/launch.json
projet_final/app/recipes-frontend/.vscode/extensions.json
projet_final/app/recipes-frontend/.history/*

projet_final/app/recipes-frontend/.angular/cache
projet_final/app/recipes-frontend/.sass-cache/
projet_final/app/recipes-frontend/connect.lock
projet_final/app/recipes-frontend/coverage
projet_final/app/recipes-frontend/libpeerconnection.log
projet_final/app/recipes-frontend/testem.log
projet_final/app/recipes-frontend/typings

projet_final/app/recipes-frontend/.DS_Store
projet_final/app/recipes-frontend/Thumbs.db
