/* Add these styles to your component's CSS file (e.g., recipes.component.css) */

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #369;
    margin-top: 15px;
}

div.recipes-container {
    padding: 20px;
}

div.recipes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

div.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#recipeName {
    font-size: 18px;
    margin-bottom: 8px;
}

#recipeType {
    font-size: 14px;
    margin-bottom: 4px;
}

.ingredients {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ingredients p {
    font-size: 14px;
    margin: 0;
    padding: 4px 0;
}
  
.productTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products p {
    font-size: 14px;
    margin: 0;
    padding: 4px 0;
    color: #555;
}

#product {
    font-weight: bold;
}
  