div{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #369;
    color: white;
    border: 1px solid #369;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #159;
}
  